.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  display: flex ;
  gap: 24px;
  padding-left: 0;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

a:hover,
a:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}
body{
  font-family: 'Roboto', sans-serif;
  color: #2E2F42;
}
/* ===== TYPOGRAPHY ===== */
h1 {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin:0;
  padding: 16px 8px 16px 8px;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* ===== LOGO ===== */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.footer-studio {
  color: #f4f4fd;
}

/* ===== NAV ===== */
header {
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  align-items: center;
}

.container-navigation1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  gap: 76px;   /* расстояние между логотипом и меню */
}

.container-navigation2{
justify-content:space-between ;
}

.navigation {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list a {
  color: #434455;
  text-decoration: none;
}

/* ===== HERO ===== */
.hero {
  background-color: #2e2f42;
  align-items: center;
  padding: 188px 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container-hero{
  width: 496px;
  margin: 0 auto;
  gap:24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  color: #ffffff;
}

button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}

button:hover,
button:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ===== FEATURES ===== */
.container-features {
  display: flex;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

.features{
  align-items: center;
  height: 344px;
  display: flex;
  justify-content: center;
}

.feature {
  width: 264px;
}

.feature h3 {
  margin-bottom: 8px;
  font-size: 20px;
}

.feature p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/* ===== TEAM ===== */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
  text-align: center;
}

.container-team {
  margin: 0 auto;
}

.team1 {
  display: flex;
  justify-content: center;
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.member {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.member-info {
  padding: 32px 0;
}

.member h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.member p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}


/* ===== PORTFOLIO ===== */
.portfolio {
  padding: 120px 0;
}

.portfolio h2 {
  text-align: center;
  margin-bottom: 72px;
}

.container-portfolio {
  max-width: 1158px;
  margin: 0 auto;
}

/* 3 колонки + 24px / 48px */
.porto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* КАРТКА */
.portfolio-item {
  border: 1px solid #e7e9fc;
}

.portfolio-info {
  padding: 32px 16px;
}

.portfolio-info h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-info p {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
}

/* ===== FOOTER ===== */
footer {
  background-color: #2e2f42;
}

.footer-text {
  color: #f4f4fd;
}
